/* global variables */
:root {
    --main-font: Verdana, Arial sans-serif;
    --headline-font: Cambria, Georgia, sans-serif;
    --primary-color: #19457f;
    --secondary-color: #8ea499;
    --tertiary-color: #cb6f18;
    --border-radius: 6px;
}

/* main styles */

html { font-size: 10px; }

body { font-family: var(--main-font); }

h1 { 
	font: 3rem var(--headline-font); 
    margin-bottom: 5px;
}

h2 {
    font: 2.5rem var(--headline-font);
    margin-bottom: 5px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 5px;
}

h4 { 
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

p { font-size: 1.6rem; }

figcaption {
    color: #000;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    margin: .5em;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    color: var(--tertiary-color); /* change to default color at later time */
}


/* header */

header {
    background-size: cover;
    color: #fff;
}
.logo {
    height: 70px;
}


/* navigation */

nav {
    position: static;
	width: 100%;
    top: 0;
    background-color: var(--primary-color);
}
nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    font-size: 1.4rem;
    display: none;
}
nav li {
    text-align: center;
    border-bottom: solid 1px #fff;
    vertical-align: middle;
}
nav li:first-child {
    border-top: solid 1px #fff;
}
nav a {
    color: #fff;
    padding: .8em;
    display: block;
}
#user {
    height: 2rem;
    vertical-align: middle;
}
.showMenu {
    color: #fff;
    text-align: right;
    padding: .3em .7em 1.6em .3em;
    display: block;
    cursor: pointer;
    font-size: 2rem;
    padding-top: .8em;
    height: 36px;
}
nav input[type=checkbox]:checked ~ ul {display: block;
}
nav input[type=checkbox] { display: none; }

/* hero */

#hero {
    background-image: url(../images/south-small.jpg);
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* motto */

#motto {
    background-color: var(--primary-color);
    color: #fff;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

/*
main {
    padding-top: 70px;
}
main h2 { 
    font-size: 1.6rem; 
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
}
main h3 {
    background-color: var(--primary-color);
    font: 10px var(--headline-font);
    font-size: 1.4rem;
    color: #fff;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
*/

/* Search */

form#keywords {
    margin: 1em auto;
}
#keywords fieldset {
    border: solid 1px #000;
    border-radius: 4px;
    padding: .8em;
    margin-bottom: 2rem;
    max-width: 400px;
}
#keywords legend {
    font-size: 1.6em;
    font-style: italic;
    color: #000;
    padding: 0 4px;
}
#keywords input[type=submit], input[type=reset] {
    display: inline-block;
    background-color: #fff;
    padding: .5em .75em;
    margin: 0 1em 2em 0;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border: solid 1px #000;
    border-radius: 4px;
}

/* homepage images */

/*
figure img {
    max-width: 300px;
    margin: 20px;
    border-radius: 14px;
    border: solid 1px var(--secondary-color);
}
*/

/* homepage eLibrary section */

#elibrary ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.library {
    height: 70px;
    padding: 10px;
    margin: 10px;
    border: solid 3px var(--primary-color);
    border-radius: 50%;
}
#elibrary a {
    color: inherit;
    font-weight: bold;
}
#elibrary li {
    padding-bottom: 15px;
}

/*--------------------------services page MOR*/

.servHero {
    /*background: center center / cover no-repeat;*/
    /*background: url('../images/servicesHerosml2.jpg') center center / cover no-repeat;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.7);
}

.headerContainer h1 {
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 10px;
    background-color: var(--tertiary-color);
}
/*---------------------------------------------Services page links MOR*/
#services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    place-items: center;
    margin-bottom: 50px;
    width: 80vw;
    margin: 0 auto;
}
.containerServ {
    width: 200px;
    height: 170px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.7);
    /*margin: 30px;*/
}
.containerServ img {
    width: 150px;
    height: auto;
    padding-top: 20px;
}
.containerServ h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
    font-weight: bold;
}
/*
.containerServ a {
    color: var(--primary-color);
    text-decoration: none;
	font-size: 1.5rem;
}
*/
/*
#hSchool {
    font-size: 1.5rem;
}
*/

/*-----------------------------------------------calendar mor*/
#cal {
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px;
}
.calendarContainer {
    font-family: var(--main-font);
/*    max-width: 800px;*/
    margin: 0 20px;
}
h2.eventTittle {
    color: var(--primary-color);
    padding: 5px;
}
h3.year {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
    width: 70vw;
    margin: 0 auto;
}

.event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .eventLeft {
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    /*min-width: 82px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding: 8px 20px;
    /*margin-right: 16px;*/
    border-radius: 8px 0 0 8px;
}

.event .eventLeft .date {
    font-size: 2.5rem;
}

.eventRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}
.eventDescription a {
    color: var(--tertiary-color);
}

.eventTime {
    font-size: 1.2rem;
    padding: 10px 0;
}

/*-----------------------------------------------calendar - single event page mor*/

.singleEvent {
	padding: 20px;
}

.singleEvent h2 {
    color: var(--primary-color);
    font-weight: bold;
	padding-top: 15px;
}

.singleEvent h3 {
    margin: 10px 0;
}

.singleEvent p {
    margin: 10px 0;
}

.singleEventReturn {
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
}

/*--------------------------------------------------- Catalog Page mor*/
/*Form*/
select#search {
    max-width: 20%;
    min-width: 100px;
    height: 30px;
    font-size: 1.6rem;
    color: #666;
    margin-bottom: 2em;
}
#srchLabel {
    font-size: 2rem;
    margin-left: 10%;
}
#srchInput {
    width: 250px;
    height: 25px;
    font-size: 1.6rem;
    margin: 0 0 2em 1em;
}
#srchBtn {
    height: 30px;
    font-size: 1.5rem;
    margin-bottom: 2em;
    
}

.catalogTitle {
    background-color: var(--tertiary-color);
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-color);
}
.carouselTitle h2 {
    margin: 40px 0 10px 15%;
    color:  var( --primary-color);
    font-weight: bold;
    background-color: var(--tertiary-color);
    max-width: fit-content;
    padding: 10px;
    border-radius: 15px;
}
/*--------------------------Home Carousel MOR*/
.homeH2 {
    background-color: var(--secondary-color);
    font-weight: bold;
    margin: 0 auto;
    border-radius: 0;
    text-align: center;
    padding: 10px;
}
/*--secondary-color --tertiary-color  --primary-color*/
/*------------------------------------------------------- Catalog Page Carrousel--mor*/

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}
.slick-prev {
    left: -35px;
}
.slick-next {
    right: -21px;
}
.slick-prev:before,
.slick-next:before {
    color: var(--tertiary-color);
    font-size: 30px;
}
/*
.slick-track {
    margin: 30px;
    border: solid 1px black;
}
*/
.slick-list {
    background-color: var(--tertiary-color);
}
.outerBox,
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox {
    /*border: 4px solid #333;*/
    border-radius: 15px;
    padding: 20px;
    padding-top: 40px;
    width: 70vw;
    height: auto;
    background-color: var(--primary-color);
    margin: 20px auto;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);
}
.carousel {
    /*border: 2px solid #c448b5;*/
    /*padding: 15px;*/
    background-color: #fff;
    width: 90%;
}
.carousel img {
    height: 200px;
    width: auto;
}
/*
.outerBox, .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*/

/* carousel single book page */

.singleBook img {
	height: 300px;
}
.singleBook p {
    margin: 10px 0;
}

.singleBook {
	padding: 20px;
}

.singleBook h2 {
    color: var(--primary-color);
    font-weight: bold;
	padding-top: 5px;
}

.singleBook h3 {
    margin: 10px 0;
}

.singleBook h4 {
    font-size: 1.4;
	font-style: italic;
	font-weight: 300;
	padding-top: 15px;
}

.singleBookReturn {
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
}
/* main */

#contactTableMain {
    padding: 10px;
    margin: auto;
}

/* contact table */
.contactTable { 
    font-size: 1.6rem;
    padding: 10px; 
    margin: 20px 0; 
}
.contactTable th {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: left;
    padding: 6px;
}
.contactTable td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    width: 50%;
}

.contactLocation {
	padding: 10px; 
    margin: 20px 0;
}
/* contact page form styles */

.contactForm {
    padding: 10px;
    margin: 10px 0;
}

.contactFieldset {
    padding: 1em;
    margin: 2em 0;
    border: solid 1px #000;
}

.contactLegend {
    padding: 0 5px;
    font-style: italic;
    font-size: 2rem;
    color: var(--primary-color);
}

.contactFieldset label {
    width: 175px;
    text-align: right;
    font-size: 1.6rem;
    color: var(--secondary-color);
    vertical-align: top;
    margin-right: 5px;
    display: inline-block;
}

.contactFieldset input {
    margin-right: 5px;
    margin-bottom: 5px;
}

#contactTextArea, #contactComments {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    color: var(--secondary-color);
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
    /*display: inline-block;*/
}

#commentType {
    text-align: left;
    margin: 10px 5px;
}

#contactMessage {
    width: 75%;
    height: 60px;
    margin: 10px 5px;
}

#contactSubmit {
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    border-color: transparent;
    width: 100px;
    cursor: pointer;
}

/* locations page */

.branchStyles {
    font-size: 1.6rem;
    padding: 6px;
}

.branchStyles li {
    margin: 10px 0;
}

.branchName {
    font-size: 2rem;
    font-weight: 600;
}

.mapIcon {
    color: var(--primary-color);
    font-size: 20px;
}

.locationsHR {
    margin-left: 0;
	margin-right: auto;
    border: solid 3px var(--tertiary-color);
    margin-bottom: 15px;
    width: 150px;
}

/* login page */

/* bordered form */

#login {
    border: 3px solid #f1f1f1;
}

#userlogin h1 {
    padding-bottom: 15px;
}

#create {
    display: block;
    float: none;
}

/* full width username and password inputs */

#userlogin input[type=text], #userlogin input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

/* buttons */

#cancel, #userlogin button {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

#userlogin button:hover {
    opacity: 0.8;
}

/* cancel button */

#cancel {
  background-color: #f44336;
}

/* center user icon image */
#icon {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* avatar image */
#usericon {
    filter: brightness(50%);
    width: 20%;
    border-radius: 50%;
}

/* container padding */
#userlogin {
  padding: 16px;
}

/* forgot password */
#forgotusername, #forgotpassword {
    display: block;
    float: none;
    padding-top: 10px;
}

.help {
    background-color: #f1f1f1;
    padding: 15px;
}

/*footer*/

footer {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
	margin-top: 32px;
}
#darkfooter {
    background-color: #c35f1c;
}
footer .logo {
    height: 90px;
    display: block;
    margin: auto;
    padding: 0 1rem 0 0;
}
#socials {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px 20px;
}
.social {
    height: 25px;
}
#lightfooter {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 7fr;
    text-align: start;
    padding: 25px 10px 0;
}
footer h4 {
    text-align: left;
    padding: 25px 0 0 10px;
}
.pin {
    height: 20px;
    vertical-align: middle;
}
footer ul {
    padding: 0 5px 20px 0;
}
footer li:first-child {
    padding: 0 0 10px;
    font-weight: bold;
}
footer p {
    font-size: 1.4rem;
    text-align: start;
    padding: 0 15px;
	line-height: 1.4;
	margin-bottom: 1.4em;
}
footer p:first-child {
    padding-top: 15px;
}
#contactFooter {
	color: var(--primary-color);
}
#copyright {
    font-size: 1rem;
    text-align: center;    
}


@media screen and (min-width: 500px) {
    #services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
	.singleEvent img {
		width: 400px;
	}
	.branchStyles img {
		width: 400px;
	}
	#cancel {
        width: auto;
    }
    #forgotusername, #forgotpassword {
        float: right;
        padding-left: 15px;
    }
}

/*
@media screen and (min-width: 500px) {
    #services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
*/

/* tablet */

@media screen and (min-width: 700px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .showMenu { display:none; }
    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }
    nav li {
        border: none!important; 
        padding-right: 15px;
    }
	#hero {
        background-image: url(../images/south-large.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;    
    }
	/*service page MOR*/
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 10px;
        width: 80vw;
        margin: 0 auto;
    }
    .containerServ img {
        width: fit-content;
    }
    .containerServ {
        width: 250px;
        height: 200px;
        margin-top: 20px;
    }
    /*calendar*/
    .calendarContainer {
        font-family: var(--main-font);
        /*max-width: 800px;*/
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        gap: 20px;
    }
	.singleEvent {
	max-width: 700px;
	}
	.carouselTitle h2 {
    margin-left: 15%;
    }
    /*catalog*/
    .slick-prev {
        left: -35px;
	}
    .slick-next {
        right: -25px;
	}
	.singleBook {
	max-width: 700px;
	}
	.contactForm {
		max-width: 700px;
	}
	footer {
        display: flex;
        padding-bottom: 0;
    }
    #darkfooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }
    footer section:last-child {
        align-content: center;
        text-align: left;
        margin: 20px 0;
        padding-left: 10px;
        border-left: solid 1px var(--primary-color);
    }
    footer p:first-child {
        padding-top: 0;
    }
    #copyright {
        text-align: left;
    }
}

/*
@media screen and (min-width: 900px) {
    
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    
       
}
*/

/* desktop */

@media screen and (min-width: 1000px) {
    #hero { height: 400px; }
    #darkfooter {
        margin-right: 15px;
    }
    #lightfooter { grid-template-columns: 1fr 8fr 1fr 7fr; }
    footer section:last-child {
        padding-left: 30px;
        margin-left: 20px;
    }
	/*services page MOR*/
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 10px;
    }
	#srchInput {
        width: 30%;
    }
	.slick-prev {
    left: -45px;
	}
    .slick-next {
        right: -35px;
	}
}

@media screen and (min-width: 1200px) {
    
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .calendarContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }  
}