/*
 TABLE OF CONTENTS
________________________
    1.0 Project Details / Color and typography info 
    2.0 Global Styles
    3.0 Header and Nav
		3.1 Header
		3.2 Navigation
		3.3 Hero
		3.4 Motto
	4.0 Main
		4.1 Homepage Search
		4.2 Homepage Main
		4.3 Homepage eLibrary
	5.0 Catalog Page
		5.1 Search Form
		5.2 Carousel Styles
		5.3 Slick Plugin Styles
		5.4 Catalog Single Book Page
		5.5 Carousel - Homepage
	6.0 Calendar Page
		6.1 Calendar Single Event Page
	7.0 Services Page
		7.1 Services Page Links
		7.2 Volunteer Page
			7.2.1 Volunteer Page Form
	8.0 Contact Page
		8.1 Contact Page Table
		8.2 Contact Page Form
		8.3 Locations Page
	9.0 My Account Page
		9.1 My Account Page Buttons
		9.2 My Account User Icon Image
		9.3 My Account Avatar Image
		9.4 My Account Container Padding
		9.5 My Account Forgot Password
    10.0 Footer
    11.0 Media Queries
		11.1 Media Queries Min-Width 500px
		11.2 Media Queries Min-Width 700px - Tablet
		11.3 Media Queries Min-Width 1000px - Desktop
		11.4 Media Queries Min-Width 1200px - Larger Screens
*/

/* 1.0 Project Details / color and typography info 
        Project Details
Author: Penney Holland, Maria Ocampo-Ross, Tiffany Poon
Project: Chula Vista Library website - Group 1
Ver: 1.2
Last Updated: 1/11/2025
Notes: This is a possible redesign of the existing Chula Vista Library website. This is presented by group 1 of FEWD 2.
---------------------

        Color Guide
navy blue (headlines, various standout text): #19457f
medium green-cyan (various backgrounds, some headlines, calendar): #8ea499
burnt orange (carousel and page header backgrounds, learn more links): #cb6f18
black #000
white #fff
---------------------

    Typography Guide
headings: Cambria, Georgia, sans-serif
body: Verdana, Arial, sans-serif
*/

/* 2.0 Global Styles */
:root {
    --main-font: Verdana, Arial sans-serif;
    --headline-font: Cambria, Georgia, sans-serif;
    --primary-color: #19457f;
    --secondary-color: #8ea499;
    --tertiary-color: #cb6f18;
    --border-radius: 6px;
}
html { font-size: 10px; }
body { font-family: var(--main-font); }
h1 { 
	font: 3rem var(--headline-font); 
    margin-bottom: 5px;
}
h2 {
    font: 2.5rem var(--headline-font);
    margin-bottom: 5px;
}
h3 {
    font-size: 2rem;
    margin-bottom: 5px;
}
h4 { 
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}
p { font-size: 1.6rem; }
figcaption {
    color: #000;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    margin: .5em;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: var(--primary-color);
	text-decoration: none;
}
a:hover {
    color: var(--tertiary-color); /* change to default color at later time */
}

/* 3.0 Header and Nav */
/* 3.1 Header */
header {
    background-size: cover;
    color: #fff;
}
.logo { height: 70px; }

/* 3.2 Navigation */
nav {
    background-color: var(--primary-color);
	position: static;
	top: 0;
	width: 100%;
}
nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    font-size: 1.4rem;
    display: none;
}
nav li {
    border-bottom: solid 1px #fff;
	text-align: center;
    vertical-align: middle;
}
nav li:first-child { border-top: solid 1px #fff; }
nav a {
    color: #fff;
    display: block;
	padding: .8em;
}
#user {
    height: 2rem;
    vertical-align: middle;
}
.showMenu {
    color: #fff;
	cursor: pointer;
    display: block;
	height: 36px;
	font-size: 2rem;
	padding: .8em .7em 1.6em .3em;
    text-align: right;
}
nav input[type=checkbox]:checked ~ ul {display: block; }
nav input[type=checkbox] { display: none; }

/* 3.3 Hero */
#hero {
	background: url(../images/civic-large.jpg) no-repeat center/cover;
    height: 25vh;
    position: relative;
}
#heroContact {
	background: url(../images/angle-small.jpg) no-repeat center/cover;
    height: 25vh;
    position: relative;
}
#heroLocations {
	background: url(../images/millenia-small.jpg) no-repeat center/cover;
    height: 25vh;
    position: relative;
}
/* 3.4 Motto */
#motto {
    background-color: var(--primary-color);
    color: #fff;
    font-style: italic;
	overflow-wrap: normal;
    padding: 15px;
	text-align: center;
}

/* 4.0 Main */
/* 4.1 Homepage Search */
form#keywords {
    margin: 1em auto;
}
#keywords fieldset {
    border: solid 1px #000;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
	max-width: 500px;
    padding: 1em 1em 1em 3em;
}
#keywords legend {
    color: #000;
	font-size: 1.6em;
    font-style: italic;
    padding: 0 4px;
}
/*
#keywords input[type=submit], input[type=reset] {
    background-color: #fff;
	border: solid 1px #000;
    border-radius: 4px;
    display: inline-block;
	margin: 0 1em 2em 0;
	padding: .5em .75em;
    min-width: inherit;
    max-width: inherit;
	width: inherit;
}
*/

/* 4.2 Homepage Main */
Input#search { width: 60%; }
img#bookSale {
    border: solid 1px #003314;
	border-radius: 10%;
}
.cntHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cntHome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
}
.cntFig {
    background-color: var(--secondary-color);
	border-radius: 10px 10px 0 0;
	font-size: 2rem;
    margin: 0 auto;
    padding: 10px;
}
.cntImg {
    border: solid 1px var(--secondary-color);
	border-radius: 0 0 10px 10px;
}
.imgSpotlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cntSpotlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
}
.cntFig2 {
    background-color: var(--secondary-color);
	border-radius: 10px 10px 0 0;
    font-size: 2rem;
	margin: 0 auto;
	padding: 10px 52px;
}
.cntFig3 {
    background-color: var(--secondary-color);
	border-radius: 10px 10px 0 0;
    font-size: 2rem;
	margin: 0 auto;
	padding: 10px 80px;
}
.cntImg2 {
    border: solid 1px var(--secondary-color);
	border-radius: 0 0 10px 10px;
}

/* 4.3 Homepage eLibrary */
#elibrary ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.library {
    border: solid 3px var(--primary-color);
    border-radius: 50%;
	height: 70px;
    margin: 10px;
	padding: 10px;
}
#elibrary a {
    color: inherit;
    font-weight: bold;
}
#elibrary li { 
	font-size: 1.5rem;
	font-weight: bold;
	margin: 50px 15%;
	padding-bottom: 15px; 
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 5.0 Catalog Page */
/* 5.1 Search Form */
select#search {
    color: #666;
	font-size: 1.6rem;
	height: 30px;
    margin-bottom: 2em;
	max-width: 20%;
    min-width: 100px;
}
#srchLabel {
    font-size: 2rem;
    margin-left: 10%;
}
#srchInput {
    font-size: 1.6rem;
    margin: 0 0 2em 1em;
	height: 25px;
	width: 250px;
}
#srchBtn {
    height: 30px;
    font-size: 1.5rem;
    margin-bottom: 2em;
}

/* 5.2 Carousel Styles */
.catalogTitle {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
	margin-bottom: 30px;
	padding: 10px;
    text-align: center;
}
.carouselTitle h2 {
    background-color: var(--tertiary-color);
	border-radius: 15px;
    color:  var( --primary-color);
    font-weight: bold;
    max-width: fit-content;
	margin: 40px 0 10px 15%;
    padding: 10px;
}

/* 5.3 Slick Plugin Styles */
.slider {
    margin: 100px auto;
	width: 50%;
}
.slick-slide { margin: 0 20px; }
.slick-slide img { width: 100%; }
.slick-prev { left: -30px; }
.slick-next { right: -21px; }
.slick-prev:before, .slick-next:before {
    color: var(--tertiary-color);
    font-size: 30px;
}
.slick-list { background-color: var(--tertiary-color); }
.slick-track {
	display: flex;
	align-items: center;
}
.outerBox, .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox {
    background-color: var(--primary-color);
	border-radius: 15px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);
	margin: 40px auto;
	padding: 20px;
    padding-top: 40px;
    height: auto;
	width: 70vw;
}
.carousel {
    background-color: #fff;
    width: 90%;
}

/* 5.4 Catalog Single Book Page */
.singleBook { padding: 0 15px; }
.singleBook img {
	border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	height: 300px;
}
.singleBook h2 {
    color: var(--primary-color);
    font-weight: bold;
	padding: 5px 0;
}
.aboutAuthor { font-style: italic; }
.singleBook h3 { margin: 10px 0 20px; }
.singleBook h4 {
	font-style: italic;
	font-weight: 300;
	padding: 15px 0;
}
.singleBook p {
    color: #555;
	line-height: 1.5;
	margin: 10px 0;
    padding: 0 10px 0;
}
#authorImage { height: 200px; }
.singleBookReturn {
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
}

/* 5.5 Carousel - Homepage */
.homeH2 {
    background-color: var(--secondary-color);
    border-radius: 0;
	font-weight: bold;
    margin: 0 auto;
	padding: 10px;
    text-align: center;
}

/* 6.0 Calendar Page */
#cal {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
	margin-bottom: 30px;
    padding: 10px;
	text-align: center;
}
.calendarContainer {
    font-family: var(--main-font);
/*    max-width: 800px;*/
    margin: 0 20px;
}
h2.eventTittle {
    color: var(--primary-color);
    padding: 5px;
}
h3.year {
    border-bottom: 1px solid #b1b1b1;
	font-size: 20px;
    margin: 0 auto;
	text-align: center;
	width: 70vw;
}
.event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    margin: 32px 0;
	display: flex;
    border-radius: 8px;
}
.event .eventLeft {
    background-color: var(--secondary-color);
    border-radius: 8px 0 0 8px;
	color: var(--primary-color);
    font-size: 1.5rem;
    padding: 8px 20px;
    /*margin-right: 16px;*/
    /*min-width: 82px;*/
	display: flex;
    align-items: center;
    justify-content: center;
}
.event .eventLeft .date { font-size: 2.5rem; }
.eventRight {
    padding: 0 24px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.eventDescription a { color: var(--tertiary-color); }
.eventTime {
    font-size: 1.2rem;
    padding: 10px 0;
}

/* 6.1 Calendar Single Event Page */
.singleEvent { padding: 20px; }
.singleEvent h2 {
    color: var(--primary-color);
    font-weight: bold;
	padding-top: 15px;
}
.singleEvent h3 { margin: 10px 0; }
.singleEvent p { margin: 10px 0; }
.singleEventReturn {
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
}

/* 7.0 Services Page */
.servHero {
    /*background: center center / cover no-repeat;*/
    /*background: url('../images/servicesHerosml2.jpg') center center / cover no-repeat;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.7);
	max-width: 100%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.headerContainer h1 {
    background-color: var(--tertiary-color);
	color: var(--primary-color);
    padding-bottom: 10px;
    text-align: center;
}

/* 7.1 Services Page Links */
#services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    place-items: center;
    margin: 40px auto 50px;
/*	margin-bottom: 50px;*/
    width: 80vw;
}
.containerServ {
    background-color: var(--secondary-color);
	box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.7);
	height: 170px;
	width: 200px;
    display: flex;
    justify-content: center;
    /*margin: 30px;*/
}
.containerServ img {
    height: auto;
	width: 150px;
    padding-top: 20px;
}
.containerServ h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
	font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

/* 7.2 Volunteer Page */
.supportLibrary h2 {
    color: var(--primary-color);
    padding: 0 10px;
}
.supportLibrary p {
    color: var(--secondary-color);
	line-height: 1.5;
	padding: 10px 10px 20px;
}

/* 7.2.1 Volunteer Page Form */
#volunteerForm { padding: 10px; }
.applyFieldset {
    border: solid 1px #000;
    border-radius: 4px;
	padding: 20px 1rem;
}
.applyFieldset legend {
    color: var(--primary-color);
	font-size: 2rem;
	font-style: italic;
    padding: 0 5px;
}
.applyLabel {
    color: var(--secondary-color);
	font-size: 1.6rem;
    padding: 15px 0 5px;
    display: block;
}
.applyFieldset p {
    color: var(--secondary-color);
    padding: 2rem 0 1rem;
}
.basics input, #notes {
    border: solid 1px #888;
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 8px;
    width: 95%;
}
#notes {
    font: 14px Arial, sans-serif;
	height: 100px;
}
.applyCheckbox, .applyRadio { font-size: 1.2rem; }
#requiredNote {
    color: var(--secondary-color);
    padding: 10px 0;
}
#applySubmit {
    background-color: var(--primary-color);
    border: none;
	border-radius: 5px;
    color: #fff;
    font-weight: bold;
	margin: 10px;
    padding: 15px 30px;
    width: 95%;
}

/* 8.0 Contact Page */
#contactTableMain {
    margin: auto;
	padding: 10px;
}

/* 8.1 Contact Page Table */
.contactTable { 
    font-size: 1.6rem;
    margin: 20px 0;
	padding: 10px; 
}
.contactTable th {
    color: var(--primary-color);
	font-size: 2rem;
    font-weight: 600;
	padding: 6px;
    text-align: left;
}
.contactTable td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    width: 50%;
}
.contactLocation {
	margin: 20px 0;
	padding: 10px; 
}

/* 8.2 Contact Page Form */
.contactForm {
    margin: 10px 0;
	padding: 10px;
}
.contactFieldset {
    border: solid 1px #000;
	margin: 2em 0;
	padding: 1em;
}
.contactLegend {
    color: var(--primary-color);
    font-style: italic;
    font-size: 2rem;
    padding: 0 5px;
}
.contactFieldset label {
	color: var(--secondary-color);
	display: inline-block;
    font-size: 1.6rem;
    margin-right: 5px;
    text-align: right;
	vertical-align: top;
	width: 175px;
}
.contactFieldset input {
    margin-bottom: 5px;
	margin-right: 5px;
}
#contactTextArea, #contactComments {
    color: var(--secondary-color);
	/*display: inline-block;*/
    font-size: 1.6rem;
 	margin-bottom: 5px;
    margin-right: 5px;
    text-align: left;
	vertical-align: top;
	width: 100%;
}
#commentType {
    margin: 10px 5px;
	text-align: left;
}
#contactMessage {
    height: 60px;
    width: 75%;
	margin: 10px 5px;
}
#contactSubmit {
    background-color: var(--primary-color);
    border-radius: 8px;
    border-color: transparent;
	color: #fff;
	cursor: pointer;
    font-weight: bold;
    padding: 4px 8px;
	width: 100px;
}

/* 8.3 Locations Page */
.branchStyles {
    font-size: 1.6rem;
    padding: 6px;
}
.branchStyles li { margin: 10px 0; }
.branchName {
    font-size: 2rem;
    font-weight: 600;
}
.mapIcon {
    color: var(--primary-color);
    font-size: 20px;
	vertical-align: middle;
}
.locationsHR {
    border: solid 3px var(--tertiary-color);
    margin-bottom: 15px;
	margin-left: 0;
	margin-right: auto;
	width: 150px;
}

/* 9.0 My Account Page */
#login { border: 3px solid #f1f1f1; }
#userlogin h1 { padding-bottom: 15px; }
#create {
    display: block;
    float: none;
}
#userlogin input[type=text], #userlogin input[type=password] {
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

/* 9.1 My Account Page Buttons */
#cancel, #userlogin button {
    background-color: var(--primary-color);
    border: none;
	border-radius: 4px;
	color: #fff;
    cursor: pointer;
	margin: 8px 0;
	padding: 14px 20px;
	width: 100%;
}
#userlogin button:hover { opacity: 0.8; }
#cancel { background-color: #f44336; }

/* 9.2 My Account User Icon Image */
#icon {
    margin: 24px 0 12px 0;
	text-align: center;
}

/* 9.3 My Account Avatar Image */
#usericon {
    border-radius: 50%;
	filter: brightness(50%);
    width: 20%;
}

/* 9.4 My Account Container Padding */
#userlogin { padding: 16px; }

/* 9.5 My Account Forgot Password */
#forgotusername, #forgotpassword {
    display: block;
    float: none;
    padding-top: 10px;
}
.help {
    background-color: #f1f1f1;
    padding: 15px;
}

/* 10.0 Footer */
footer {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1rem;
    margin-top: 50px;
	padding-bottom: 10px;
	text-align: center;
}
#darkfooter { background-color: #c35f1c; }
footer .logo {
    display: block;
	height: 90px;
    margin: auto;
    padding: 0 1rem 0 0;
}
#socials {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px 20px;
}
.social { height: 25px; }
#lightfooter {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 7fr;
    padding: 25px 10px 0;
	text-align: start;
}
footer h4 {
    padding: 25px 0 0 10px;
	text-align: left;
}
.pin {
    height: 20px;
    vertical-align: middle;
}
footer ul { padding: 0 5px 20px 0; }
footer li:first-child {
    font-weight: bold;
	padding: 0 0 10px;
}
footer p {
    font-size: 1.4rem;
    line-height: 1.4;
	margin-bottom: 1.4em;
	padding: 0 15px;
	text-align: start;
}
footer p:first-child { padding-top: 15px; }
#contactFooter { color: var(--primary-color); }
#copyright {
    font-size: 1rem;
    text-align: center;    
}

/* 11.0 Media Queries */
/* 11.1 Media Queries Min-Width 500px */
@media screen and (min-width: 500px) {
    #services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
	.applyFieldset {
        display: inline-block;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto;
    }
    .applyFieldset p {
        grid-column: span 2;
        padding-top: 20px;
		text-align: left;
    }
    .applyLabel {
        display: inline-block;
        margin-right: 5px;
        text-align: right;
		width: 175px;
    }
    .basics input, #applyText { width: 200px; }
    .basics li {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #applyNotes { text-align: left; }
    .applyCheckbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: column;
        gap: 0 3em;
    }
    #applySubmit {
    	cursor: pointer;
    	margin-left: 20px;
    	width: 150px;
    }
	.singleEvent img { width: 400px; }
	.branchStyles img { width: 400px; }
	#cancel { width: auto; }
    #forgotusername, #forgotpassword {
        float: right;
        padding-left: 15px;
    }
}

/* 11.2 Media Queries Min-Width 700px - Tablet */
@media screen and (min-width: 700px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .showMenu { display:none; }
    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }
    nav li {
        border: none!important; 
        padding-right: 15px;
    }
	#hero {
        background: url(../images/civic-large.jpg) no-repeat center/cover;
        height: 300px;
		width: 100%;
    }
	#heroContact {
        background: url(../images/angle-large.jpg) no-repeat center/cover;
        height: 300px;
		width: 100%;
    }
	#heroLocations {
        background: url(../images/millenia-large.jpg) no-repeat center/cover;
        height: 300px;
		width: 100%;
    }
	#elibrary ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
	#services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 10px;
        margin: 0 auto;
		width: 80vw;
    }
	.applyCheckbox {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .applyFieldset p { padding-top: 30px;}
    .basics input, #notes { width: 450px; }
    .containerServ img { width: fit-content; }
    .containerServ {
        height: 200px;
        width: 250px;
        margin-top: 20px;
    }
    .calendarContainer {
        font-family: var(--main-font);
        margin: 0 auto;
		/*max-width: 800px;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
		width: 80vw;
    }
	.singleEvent { max-width: 700px; }
	.carouselTitle h2 { margin-left: 15%; }
    .slick-prev { left: -35px; }
    .slick-next { right: -25px; }
	.singleBook { max-width: 700px; }
	.contactForm { max-width: 700px; }
	footer { 
        display: flex;
        padding-bottom: 0;
    }
    #darkfooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }
    footer section:last-child {
        align-content: center;
        border-left: solid 1px var(--primary-color);
        margin: 20px 0;
        padding-left: 10px;
        text-align: left;
    }
    footer p:first-child { padding-top: 0; }
    #copyright { text-align: left; }
}

/* 11.3 Media Queries Min-Width 1000px - Desktop */
@media screen and (min-width: 1000px) {
    #hero { height: 400px; }
	#imgHome {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        /*padding: 10px;*/
        margin: 0 auto;
        padding-top: 40px;
    }
    .cntHome {
        grid-column: 1/2;
        grid-row: 1/3;
        place-items: center;
    }
    #elibrary ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		margin: 0 auto;
		width: 80vw;
    }
     #imgSpotlight {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        margin: 0 auto;
		padding: 40px;
		width: 80vw;
    }
    #darkfooter { margin-right: 15px; }
    #lightfooter { grid-template-columns: 1fr 8fr 1fr 7fr; }
    footer section:last-child {
        margin-left: 20px;
		padding-left: 30px;
    }
	#services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 10px;
		margin-top: 40px;
    }
	.applyCheckbox {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto auto auto;
    }
    .basics input, #notes { width: 300px; }
    .applyForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .basics { grid-row: span 6; }
    .applyFieldset p {
        grid-column: 2;
        padding: 50px 0 0 50px;
    }
    .applyCheckbox {
        grid-column: 2;
        padding-left: 50px;
    }
    .applyRadio {
        grid-column: 2;
        grid-row: 6;
        padding-left: 50px;
    }
    .applyRadio li { padding-bottom: 5px; }
	.slick-prev { left: -45px; }
    .slick-next { right: -35px; }
	.singleBook img {
		height: 350px;
   	 	display: flex;
    	justify-items: center;
    }
    #authorImage { height: 250px; }
    #singleBook {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

/* 11.4 Media Queries Min-Width 1200px - Larger Screens */
@media screen and (min-width: 1200px) {
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .calendarContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }  
	#imgHome {
        width: 80vw;
    }
}